

  <div id="profile_image">
    <%= image_tag "family.jpg" %>
  </div>

  <div id="content">
    <h1>Hello World</h1>
    <p>Welcome to this page</p>
    <p>We are one family~</p>
    <p>Please help out our evangelist!</p>
  </div>
</div>
